@page
@model ProtoBoatRazorPage.Pages.Bookings.CheckOutModel
@{
    ViewData["Title"] = "CheckOut";
}

<h1>CheckOut</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.BookedUser.Id" class="control-label"></label>
        <select asp-for="@Model.SelectedId" class="form-control"
                asp-items="@Model.UserCodes">
            <option value="">-- Select User --</option>
        </select>
        <span asp-validation-for="@Model.BookedUser.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Complete Booking"/>
    </div>
</form>
<div>
    <a asp-page="/Boats/IndexBoats">Back To List</a>
</div>